<body>
    <div class="panel panel-default">
        <div>
            <p style="text-align:center">the universe's first platform dedicated to connecting henna artists and enthusiasts. </p>

            <p>mission: to revolutionize the ancient art of henna by:
            <li>empowering local artists to grow their craft.</li>
            <li>connecting customers to local henna artists.</li>
            <li>creating a henna loving enaging community.</li>
            </p>
            
            <p>who should sign up:
            <li> henna artists</li>
            <li> henna enthusiasts</li>
            <li> artists of all mediums that are inspired by henna.</li>
            <li> looking to be inspired.</li>
            <li> looking to connect with the henna community locally and globally.</li>
            </p>
            <p>*if you are a henna wholesaler, please contact us directly to have you name added to the directory*</p>
        </div>
    </div>
</body>
      

        